.px10 {
	font-size: 10px !important;
}
.px11 {
	font-size: 11px !important;
}
.px12 {
	font-size: 12px !important;
}
.px13 {
	font-size: 13px !important;
}
.px14 {
	font-size: 14px !important;
}
.px15 {
	font-size: 15px !important;
}
.px16 {
	font-size: 16px !important;
}
.px18 {
	font-size: 18px !important;
}
.px22 {
	font-size: 22px !important;
}
.px26 {
	font-size: 26px !important;
}
.weight-300 {
	font-weight: 300 !important;
}
.weight-400 {
	font-weight: 400 !important;
}
.weight-500 {
	font-weight: 500 !important;
}
.weight-600 {
	font-weight: 600 !important;
}
.weight-700 {
	font-weight: 700 !important;
}
